.form-style{
    background-color:brown;
    text-align: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.form-style input{
    margin-bottom: 5px;
    padding: 5px 20px;
    outline: none;
    border:none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}