.login-form-style input{
    width: 600px;
    padding: 5px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 15px;
    
}
.login-form-style button{
    padding: 5px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.login-form-style{
    display: flex;
    justify-content: center;
}
.create-new-user{
    text-align: center;
}
